<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label :name, "Property Name:" %>
    <%= f.text_field :name %>

    <%= f.fields_for :product_properties do |product_property| %>
      <%= product_property.label :value, "Property Value:" %>
      <%= product_property.text_field :value %>
    <% end %>

    <%= link_to_remove_association "remove", f %>
  </div>
</li>
