<p id="notice"><%= notice %></p>
<h1>Products</h1>

<%= link_to 'New Product', new_product_path %>

<h2>Search Products</h2>
<div id="search"></div>

<h2>All Products</h2>
<table>

  <% @products.each do |product| %>
    <tr>
      <td>Product Name:<b> <%= product.name %></b></td>
      <td>UPC: <%= product.upc %></td>
      <td>Available On: <%= product.available_on %></td>
    </tr>
    <tr>
       <% product.properties.each do |property| %>
       <td><%= property.name %>:
       <% property.product_properties.each do |product_property| %>
       <%= product_property.value %></td>
       <% end %>
       <% end %>
    </tr>
  <% end %>
</table>
