<p id="notice"><%= notice %></p>
<h1>Products</h1>

<%= link_to 'New Product', new_product_path %>

<div id="search"></div>

<table>
  <tr>
    <th>Name</th>
    <th>UPC</th>
    <th>Available On</th>
    <th></th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.upc %></td>
      <td><%= product.available_on %></td>
       <% product.properties.each do |property| %>
       <td><%= property.name %></td>
       <% property.product_properties.each do |product_property| %>
       <td><%= product_property.value %></td>
       <% end %>
       <% end %>
      <td><%= link_to 'Details', product_path(product) %></td>
    </tr>
  <% end %>
</table>
