<h1>New Product</h1>
<%= form_with scope: @product, url: products_path, local: true do |f| %>

<% if @product.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@product.errors.count, "error") %> prohibited
       this product from being saved:
     </h2>
     <ul>
       <% @product.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

  <p>
    <strong>Name</strong><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <strong>UPC</strong><br>
    <%= f.text_field :upc %>
  </p>

  <p>
    <strong>Available On</strong><br>
    <%= f.date_field :available_on %>
  </p>

  <h3>Properties</h3>
  <div id='properties'>
  <% f.fields_for :properties do |property_form| %>
    <p>
      <strong>Name</strong><br>
      <%= property_form.text_field :property_name %>
    </p>

    <% property_form.fields_for :product_properties do |value_form| %>
    <p>
      <strong>Name</strong><br>
      <%= value_form.text_field :value %>
    </p>
    <% end %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association 'Add More Properties', f, :properties %>
  </div>
  </div>
  <p>
    <%= f.submit "Add Product" %>
  </p>
<% end %>
