<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>UPC:</strong>
  <%= @product.upc %>
</p>

<p>
  <strong>Available On:</strong>
  <%= @product.available_on %>
</p>

<p>
  <strong>Properties:</strong>
</p>

      <% @product.properties.each do |property| %>
      <td><%= property.name %></td>
      <% end %>

<%= link_to 'Back to Products List', products_path %>
